<a href="https://colab.research.google.com/github/dusrbrla-mbb/kubig-portfolio/blob/temp/ml_exe_cycle_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

공공데이터이지만 사기업의 B2C 데이터(ex. bikeshare / citibike)와 유사한 운영 목적을 지님.

### 비즈니스 이해 단계
##### 이 분야의 사람들(업자)은 무엇을 궁금해할까?
* 어떤 사람들이 언제 이용하는지?
* 지난 몇 년간 이용객 변화 추세
* 코로나 이전 / 이후 어떤 변화가 있나?
* 사람들의 이용에 어떤 요인이 영향을 크게 미치나?
* 수업에서 다루지는 않지만, 프로젝트의 방향성으로 삼을 만한 주제

    1. 자전거 대여소 위치별(자치구별) 이용량 차이를 이용한 효율적 관리인원 분배.
    2. 서울시 데이터를 분석하여 다른 지자체에 적용하기(일자리, 하천, 공원, 평균소득 등)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
dir = '/content/drive/My Drive/Study/Jupyter/raw_from_17_to_21'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 파일 경로를 다루기 용이하게 도와주는 도구 : glob
from glob import glob
path_list = glob(dir + '/' + '*.csv') + glob(dir + '/' + '*.xlsx')
len(path_list)
# 해당 파일과 동일한 폴더 안에 있는 모든 .csv 파일과 .xlsx 파일을 불러와,
# 두 리스트를 합침.

40

In [ ]:
path_list[0]

'/content/drive/My Drive/Study/Jupyter/raw_from_17_to_21/서울특별시 공공자전거 시간대별 대여정보_201812_201905(1).csv'

In [ ]:
pd.read_csv(path_list[0], encoding='cp949')
# 읽어들일 때 한글이 깨져보이거나, UnicodeDecodeError 발생 시 해결방안
# latin, cp949, iso-8859-1, euc-kr, utf-8, utf-8-sig 정도

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2018-12-01,0,1721,1721. 창동역 2번출구,정기권,\N,~10대,1,25.95,0.26,1130.0,4
1,2018-12-01,0,3511,3511. 응봉역 1번출구,정기권,\N,~10대,1,52.59,0.39,1660.0,72
2,2018-12-01,0,1975,1975. 대림역 1번 출입구 밑,정기권,\N,~10대,1,136.26,1.17,5060.0,21
3,2018-12-01,0,110,110. 사천교,정기권,\N,~10대,1,17.76,0.16,690.0,2
4,2018-12-01,0,749,749. 이대 목동병원 앞,정기권,\N,~10대,1,95.67,0.70,3020.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-02-27,19,214,214. 금융감독원 앞,정기권,F,30대,1,27.06,0.31,1340.0,7
999996,2019-02-27,19,1906,1906. 신도림역 1번 출구 앞,정기권,F,30대,1,146.41,1.65,7110.0,29
999997,2019-02-27,19,1908,1908. 해원리바파크 육교 밑,정기권,F,30대,1,13.38,0.12,520.0,4
999998,2019-02-27,19,1911,1911. 구로디지털단지역 앞,정기권,F,30대,1,73.62,0.66,2860.0,17
999999,2019-02-27,19,2106,2106. 난곡 새마을금고,정기권,F,30대,1,43.34,0.53,2280.0,21

In [ ]:
path_list[-1]

'/content/drive/My Drive/Study/Jupyter/raw_from_17_to_21/서울특별시 공공자전거 시간대별 대여정보_201811.xlsx'

In [ ]:
pd.read_excel(path_list[-1])

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-11-01,0,1361,홍익중고 입구,정기권,F,~10대,1,44.02,0.40,1710,9
1,2018-11-01,0,1403,중화빌딩 앞 (동부시장),정기권,F,~10대,2,21.73,0.22,930,7
2,2018-11-01,0,729,서부식자재마트 건너편,정기권,F,20대,1,36.59,0.36,1540,10
3,2018-11-01,0,747,목동3단지 상가,정기권,F,20대,1,12.47,0.15,630,4
4,2018-11-01,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,22.05,0.27,1160,7
...,...,...,...,...,...,...,...,...,...,...,...,...
465710,2018-11-30,23,2239,교대역 6번출구,일일권,M,30대,1,425.78,2.08,8960,61
465711,2018-11-30,23,1210,롯데월드타워(잠실역2번출구 쪽),일일권,M,30대,1,32.15,0.23,990,5
465712,2018-11-30,23,1162,공항초등학교건너편,일일권,M,40대,1,40.73,0.28,1210,7
465713,2018-11-30,23,1288,문정중교 사거리,일일권,M,60대,1,18.30,0.18,770,3
465714,2018-11-30,23,2184,구암초등학교 버스정류장,일일권(비회원),M,30대,1,40.93,0.37,1590,12

In [ ]:
# 엑셀 파일은 csv 파일에 비해 처리 속도가 느림.
import time
t0 = time.time()
pd.read_csv(path_list[0], encoding='cp949') # csv 파일 열 때
t1 = time.time()
pd.read_excel(path_list[-1]) # excel 파일 열 때
t2 = time.time()

csv_rows = 1000000
excel_rows = 465715
csv_time= t1 - t0
excel_time= t2 - t1
csv_row_per_sec = csv_rows // csv_time
excel_per_sec = excel_rows // excel_time
print(csv_row_per_sec, excel_per_sec)
# 현재 컬럼 개수가 동일하므로, 초당 row 를 처리하는(읽는) 속도로 비교할 수 있다.
# 거의 100 배 차이가 있으므로, 반드시 csv 파일로 변환해야 다음 단계가 빨라진다.

505864.0 5465.0

In [ ]:
# 컬럼 개수와 컬럼명(순서)이 동일한지 확인 -> 하나의 파일로 합칠 수 있는지
# 만약 다르다면 하나로 합치려는 시도 X
all_cols = []
for path in path_list:
    if '.csv' in path:
        col = list(pd.read_csv(path, encoding='cp949').columns)
    else:
        col = list(pd.read_excel(path).columns)
    all_cols = all_cols + col
print(len(all_cols))
# 만약 모든 파일들의 컬럼이 같다면, all_cols 안의 것들을 중복제거시, 총 12개가 남아있어야 함.

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

480

In [ ]:
set(all_cols)
# 파이썬에서의 set 자료형으로 중복 제거.
# 컬럼 이름이 다르게 표기된 것뿐, 실제로는 같은 데이터.

{"'대여구분코드'",
 "'대여소'",
 "'대여소번호'",
 "'대여시간'",
 "'대여일자'",
 "'성별'",
 "'연령대코드'",
 "'운동량'",
 "'이동거리(M)'",
 "'이동시간(분)'",
 "'이용건수'",
 "'탄소량'",
 '대여구분코드',
 '대여소명',
 '대여소번호',
 '대여시간',
 '대여일자',
 '사용시간',
 '성별',
 '연령대코드',
 '운동량',
 '이동거리',
 '이동시간',
 '이용건수',
 '탄소량'}

In [ ]:
all_cols[:12]
# 읽어들였을 때, 컬럼 이름이 다르다 해도, 이 리스트로
# 컬럼 이름을 바꾸면 모든 데이터를 한 데이터 프레임에 넣을 수 있다.

['대여일자',
 '대여시간',
 '대여소번호',
 '대여소명',
 '대여구분코드',
 '성별',
 '연령대코드',
 '이용건수',
 '운동량',
 '탄소량',
 '이동거리',
 '사용시간']

In [ ]:
reset_col = all_cols[:12]
interested = ['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드']
# 비지니스 이해 단계에서 설정한 목적에 따라 컬럼 선별 -> 추가적으로 용량 감소 가능
all_df = pd.DataFrame()  # 모든 데이터를 담을 빈 데이터 프레임 생성
for path in path_list:
    if '.csv' in path:
        single = pd.read_csv(path, encoding='cp949')
    else:
        single = pd.read_excel(path)
    single.columns = reset_col  # 컬럼 이름 재정의
    all_df = pd.concat([all_df, single[interested]])  # 관심 있는 컬럼만 선별하여 all_df에 row 추가
    print(all_df.shape)  # 컬럼 개수/이름 동일하다고 가정한 후, row 만 추가하는 것(concat)이므로, 컬럼 개수가 늘어나는지 확인.
    del single  # 메모리 관리 코드 -> 대용량 데이터이므로 메모리를 위해, 최종 결과인 all_df 를 제외한 중간 산출물 single 삭제
# 최근에 다루는 데이터는 대용량이므로, 컴퓨터가 획기적으로 바뀌지 않는 이상, 코드 실행 시간과 메모리를 반드시 고려해야 함.

(1000000, 5)
(1428526, 5)
(1857052, 5)
(2857052, 5)
(3857052, 5)
(4857052, 5)
(5857052, 5)
(6857052, 5)
(7857052, 5)
(8857052, 5)
(9377702, 5)
(10377702, 5)
(11377702, 5)
(12377702, 5)
(13377702, 5)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(14402965, 5)
(14850346, 5)
(15632904, 5)
(16601955, 5)
(17296548, 5)
(18000001, 5)
(18599197, 5)
(20725745, 5)
(27620611, 5)
(29066605, 5)
(30746433, 5)
(32800433, 5)
(35002521, 5)
(37335287, 5)
(38054144, 5)
(39121045, 5)
(39422884, 5)
(40157344, 5)
(40809231, 5)
(41516319, 5)
(42413206, 5)
(43318027, 5)
(43991639, 5)
(44642314, 5)
(45108029, 5)

In [ ]:
all_df.to_csv('processed_17_21.csv', index=False)
# 다 모은 데이터를 한 파일로 저장.

- 빅데이터 프로젝트를 수행할 때, 빅데이터 플랫폼(ex. 하둡 등)을 자주 사용하지 않음.
- 이론적으로 배울 때는 데이터베이스를 활용하거나, 하둡 등을 이용한다고 하지만
- 실제로는 사용할 수 있는 프로그램, 인원 등을 중심으로 가볍게 처리한다(유지보수 비용, 인건비 등).
------------------
- 따라서 최근 우리나라 프로젝트의 대다수 경우, 중복 처리한 폴더 및 파일 형태로 저장한다.
- 컬럼이 동일(순서만 다르거나, 내용은 동일한데 이름만 다름)하다면 하나의 파일로,
- 만약 컬럼이 다르다면 컬럼이 같은 것끼리 그룹을 지어 유형에 따라 분류 후, 따로 저장한다.
------------------
- 단, 유료 프로그램이나 플랫폼을 사용해야 연구의 질이 올라가는 경우 or 분야는 제외.

In [ ]:
del all_df  # 메모리 관리 차원

#### 용량을 축소한 파일로 재시작

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
dir2 = '/content/drive/My Drive/Study/Jupyter'

Mounted at /content/drive

In [ ]:
df = pd.read_csv(dir2 + '/' + 'processed_17_21.csv')
print(df.shape)
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(45108029, 5)

         대여일자 대여시간 대여구분코드   성별 연령대코드
0  2019-12-01    0    정기권  NaN  ~10대
1  2019-12-01    0    정기권  NaN  ~10대
2  2019-12-01    0    정기권  NaN  ~10대
3  2019-12-01    0    정기권  NaN  ~10대
4  2019-12-01    0    정기권  NaN  ~10대

In [ ]:
np.unique(df['대여구분코드'])  # set 함수와 동일한 기능.

array(["'단체'", "'일일(2시간권)'", "'일일(비회원)'", "'일일(회원)'", "'정기'",
       "'정기(2시간권)'", '단기권(전기)', '단체권', '일일권', '일일권(비회원)', '정기권'],
      dtype=object)

In [ ]:
set(df['연령대코드'])  # 빈칸이 존재할 경우, np.unique 사용 불가.
# 컬럼 안에, 같은 의미인데 다르게 표기된 경우가 있다.
# 지금 식별된 것은 따옴표이다(컬럼명과 동일한 문제).
# 따라서 모든 컬럼에 대하여 따옴표를 지울 것이다.

{"'20대'",
 "'30대'",
 "'40대'",
 "'50대'",
 "'60대'",
 "'70대~'",
 "'~10대'",
 '20대',
 '30대',
 '40대',
 '50대',
 '60대',
 '70대~',
 nan,
 '~10대'}

In [ ]:
sample_str = "'단체'"
print(sample_str.replace('\'', ''))
# 따옴표를 지운다는 생각에서, 따옴표를 빈칸으로 대체한다는 생각으로 전환.

단체

In [ ]:
for col in df.columns:
    df[col] = df[col].apply(lambda x : str(x).replace('\'', ''))
    # \' 는 따옴표를 문자열 만드는 기능으로서가 아닌,
    # 따옴표 글자 하나로서 인식시키기 위함.
    # 이때 replace 메서드를 모든 데이터에 사용하기 위해, 문자열로 변환한다(특히, nan).
set(df['연령대코드'])

{'20대', '30대', '40대', '50대', '60대', '70대~', 'nan', '~10대'}

In [ ]:
set(df['성별'])
# 성별 컬럼에 들어있는 값들이 일관성이 없어서 이를 처리.

{'', 'F', 'M', '\\N', 'f', 'm', 'nan'}

In [ ]:
mapper = {'' : 'U', 
          'F' : 'F', 
          'M' : 'M', 
          '\\N' : 'U', 
          'f' : 'F', 
          'm' : 'M', 
          'nan' : 'U'}
df['gender'] = df['성별'].apply(lambda x : mapper[str(x)])
set(df['gender'])

{'F', 'M', 'U'}

In [ ]:
np.unique(df['대여구분코드'])

array(['단기권(전기)', '단체', '단체권', '일일(2시간권)', '일일(비회원)', '일일(회원)', '일일권',
       '일일권(비회원)', '정기', '정기(2시간권)', '정기권'], dtype=object)

In [ ]:
mapper = {'단기권(전기)' : 'casual', 
          '단체' : 'group', 
          '단체권' : 'group', 
          '일일(2시간권)' : 'casual', 
          '일일(비회원)' : 'casual', 
          '일일(회원)' : 'casual', 
          '일일권' : 'casual',
          '일일권(비회원)' : 'casual', 
          '정기' : 'regular', 
          '정기(2시간권)' : 'regular', 
          '정기권' : 'regular'}
df['type'] = df['대여구분코드'].map(mapper)
df.head()
# .loc[] 과 in 을 사용해서 데이터 프레임을 생성해도 됨.

         대여일자 대여시간 대여구분코드   성별 연령대코드 gender     type
0  2019-12-01    0    정기권  nan  ~10대      U  regular
1  2019-12-01    0    정기권  nan  ~10대      U  regular
2  2019-12-01    0    정기권  nan  ~10대      U  regular
3  2019-12-01    0    정기권  nan  ~10대      U  regular
4  2019-12-01    0    정기권  nan  ~10대      U  regular

In [ ]:
'2019-12-01 00:00:00'
# 대여일자와 대여시간 두 개의 컬럼을 이용하여
# 위와 같은 문자열을 만들고자 함.

'2019-12-01 00:00:00'

In [ ]:
sample_date = '2019-12-01'
sample_hour = '0'
datetime = sample_date + ' ' + str('0' + sample_hour)[-2:] + ':00:00'
datetime

'2019-12-01 00:00:00'

In [ ]:
df.sort_values(by='대여일자')

                대여일자 대여시간  대여구분코드   성별 연령대코드 gender     type
24380854  2017-01-01   21      정기    M   40대      M  regular
24380352  2017-01-01   17  일일(회원)    F   20대      F   casual
24380351  2017-01-01   17  일일(회원)    F   20대      F   casual
24380350  2017-01-01   17  일일(회원)    F   20대      F   casual
24380349  2017-01-01   17  일일(회원)    F   20대      F   casual
...              ...  ...     ...  ...   ...    ...      ...
20499348  2021-01-31   14     정기권  nan   20대      U  regular
20499347  2021-01-31   14     정기권  nan   20대      U  regular
20499346  2021-01-31   14     정기권  nan   20대      U  regular
20499344  2021-01-31   14     정기권  nan   20대      U  regular
20520212  2021-01-31   22     정기권  nan   20대      U  regular

[45108029 rows x 7 columns]

In [ ]:
set(df['대여일자'].apply(lambda x : len(x)))

{10, 19}

In [ ]:
df['대여일자_길이'] = df['대여일자'].apply(lambda x : len(x))
df.loc[df['대여일자_길이'] == 19]

                         대여일자 대여시간    대여구분코드 성별 연령대코드  대여일자_길이
39121045  2018-01-01 00:00:00    0       정기권  F  ~10대       19
39121046  2018-01-01 00:00:00    0       정기권  F   20대       19
39121047  2018-01-01 00:00:00    0       정기권  F   20대       19
39121048  2018-01-01 00:00:00    0       정기권  F   20대       19
39121049  2018-01-01 00:00:00    0       정기권  F   20대       19
...                       ...  ...       ... ..   ...      ...
45108024  2018-11-30 00:00:00   23       일일권  M   30대       19
45108025  2018-11-30 00:00:00   23       일일권  M   30대       19
45108026  2018-11-30 00:00:00   23       일일권  M   40대       19
45108027  2018-11-30 00:00:00   23       일일권  M   60대       19
45108028  2018-11-30 00:00:00   23  일일권(비회원)  M   30대       19

[5986984 rows x 6 columns]

In [ ]:
d_sample = '2018-01-01 00:00:00'
d_sample.split(' ')[0]  # 모든 row 에 대해 모두 통용되는 방법

'2018-01-01'

In [ ]:
df['datetime'] = df['대여일자'].apply(
    lambda x : x.split(' ')[0]) + ' ' + df['대여시간'].apply(
    lambda x : str('0' + str(x))[-2:]) + ':00:00'
# 대여일자 컬럼에 년-월-일 이 아닌, 다른 정보가 같이 들어있는 경우가 있기 때문에,
# .split(' ')[0] 이용하여 년-월-일만 선택 후, 시간 컬럼과 조합하여 
# 년-월-일 시:분:초 형태로 datetime 컬럼 생성

In [ ]:
df.head()

         대여일자 대여시간 대여구분코드   성별 연령대코드 gender     type             datetime
0  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00
1  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00
2  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00
3  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00
4  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00

In [ ]:
set(df['연령대코드'])

{'20대', '30대', '40대', '50대', '60대', '70대~', 'nan', '~10대'}

In [ ]:
mapper = {'20대' : '20s', 
          '30대' : '30s', 
          '40대' : '40s', 
          '50대' : '50s', 
          '60대' : '60s', 
          '70대~' : '70s', 
          'nan' : 'unknown', 
          '~10대' : '10s'}
df['age'] = df['연령대코드'].apply(lambda x : mapper[str(x)])
df.head()

         대여일자 대여시간 대여구분코드   성별 연령대코드 gender     type             datetime  age
0  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00  10s
1  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00  10s
2  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00  10s
3  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00  10s
4  2019-12-01    0    정기권  nan  ~10대      U  regular  2019-12-01 00:00:00  10s

In [ ]:
df.columns

Index(['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드', 'gender', 'type', 'datetime',
       'age'],
      dtype='object')

In [ ]:
interested = ['datetime', 'age', 'gender', 'type']
df[interested].to_csv('clean_data2.csv', index=False)

In [ ]:
from google.colab import files

In [ ]:
files.download('clean_data2.csv')

In [ ]:
del df

### 클렌징한 데이터로 재시작

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dir2 = '/content/drive/My Drive/Study/Jupyter'
df = pd.read_csv(dir2 + '/' + 'clean_data2.csv')
# 파일을 읽고 저장하는 속도는 DISK 의 영향이 가장 큼.
# SSD + M.2 또는 SSD + NVME 선택.

In [ ]:
df.head()

              datetime  age gender     type
0  2019-12-01 00:00:00  10s      U  regular
1  2019-12-01 00:00:00  10s      U  regular
2  2019-12-01 00:00:00  10s      U  regular
3  2019-12-01 00:00:00  10s      U  regular
4  2019-12-01 00:00:00  10s      U  regular

In [ ]:
# 이후의 처리 과정은 비지니스 이해 단계에서 정한 목적과 중점적으로 살펴볼 변수 간 관계에 따라 약간 달라짐.
df['count'] = 1
reg = df.loc[df['type'] == 'regular']  # 여기서는 정기권 손님(type 컬럼)들의
df.groupby('datetime').agg({'count' : np.sum})  # 시간대별(datetime 컬럼) 이용 패턴을 보려고 함 -> 목적에 따라 다름.

                     count
datetime
2017-01-01 00:00:00     77
2017-01-01 01:00:00     76
2017-01-01 02:00:00     57
2017-01-01 03:00:00     34
2017-01-01 04:00:00     23
...                    ...
2021-01-31 19:00:00   1890
2021-01-31 20:00:00   1894
2021-01-31 21:00:00   1836
2021-01-31 22:00:00   1043
2021-01-31 23:00:00    694

[35351 rows x 1 columns]

In [ ]:
reg = df.loc[df['type'] == 'regular']
reg = reg.groupby('datetime').agg({'count' : np.sum}).reset_index()
reg.columns = ['datetime', 'regular']

cas = df.loc[df['type'] == 'casual']
cas = cas.groupby('datetime').agg({'count' : np.sum}).reset_index()
cas.columns = ['datetime', 'casual']

gro = df.loc[df['type'] == 'group']
gro = gro.groupby('datetime').agg({'count' : np.sum}).reset_index()
gro.columns = ['datetime', 'group']
# 시간대별 이용권별 고객 이용 건수를 각각 3개의 변수로 보관.

In [ ]:
rc = pd.merge(reg, cas, how='outer')  # 'outer' 는 합집합, 'inner' 는 교집합
rcg = pd.merge(rc, gro, how='outer')
rcg = rcg.fillna(0)  # na(빈칸) 을 채운다고 해서 fillna.
rcg.head()

              datetime  regular  casual  group
0  2017-01-01 00:00:00     63.0    13.0    1.0
1  2017-01-01 01:00:00     55.0    21.0    0.0
2  2017-01-01 02:00:00     38.0    19.0    0.0
3  2017-01-01 03:00:00     22.0    12.0    0.0
4  2017-01-01 04:00:00     16.0     7.0    0.0

In [ ]:
rcg.to_csv('by_time_merge.csv', index=False)

### 판다스로 크롤링하기 -> 날씨 정보 가져오기

In [ ]:
date = '2020-01-01'
url = 'https://freemeteo.co.uk/weather/seoul/history/daily-history/?gid=1835848&station=10565&date='
end = '&language=english&country=south-korea'
one_page_dfs = pd.read_html(url + date + end)[6]
one_page_dfs['date'] = date
one_page_dfs.to_csv(date+'.csv', index=False)
# 한 페이지에 있는 모든 데이터 프레임을 가져옵니다.
# 가져와서 6번째 인덱스에 들어있는 시간대별 날씨 정보를 one_page_dfs 에 놓습니다.

In [ ]:
def save_weather(date):
    url = 'https://freemeteo.co.uk/weather/seoul/history/daily-history/?gid=1835848&station=10565&date='
    end = '&language=english&country=south-korea'
    one_page_dfs = pd.read_html(url + date + end)[6]
    one_page_dfs['date'] = date
    one_page_dfs.to_csv(date+'.csv', index=False)
save_weather('2020-01-01')

In [ ]:
import time
for date in pd.date_range('2017-01-01', '2021-01-31'):
    print(str(date)[:10])
    time.sleep(2)

#### Kaggle, DACON - 온라인 경진대회
* 장점1. 타인의 코드 참고 가능, 입문용으로 좋음.
* 장점2. 참가하는 과정 속에서,  
feature 생성, 알고리즘 비교 및 선택 등 여러 중요한 과정을 경험할 수 있고,  
이러한 경험을 높이 사 이력서에서도 우대사항이 존재함.

##### 위의 코드는 파일을 합치고 가공하는데 이미 사용되었으므로, 다시 실행하면 안 된다.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path1 = '/content/drive/My Drive/Study/Jupyter'
df = pd.read_csv(path1 + '/' + 'by_time_merge.csv')
# 지난 수업에서 만든 17 ~ 21년 초까지의 데이터를 모아놓은 .csv 파일 읽기
df.shape

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

(35351, 4)

In [ ]:
from glob import glob
path2 = '/content/drive/My Drive/Study/Jupyter/weather_17_21_eng'
sample = glob(path2 + '/' + '*-*-*.csv')
# 웹 크롤링으로 얻은 날씨정보 데이터 셋들을 glob 으로 모든 경로 획득
# 실제로 위의 코드를 돌린 것이 아니라, 시간이 너무 오래 걸리기 때문에, 주어진 자료 활용

In [ ]:
df_list = []
for dir in sample:
    df_list.append(pd.read_csv(dir))
    # pd.read_csv(path) 으로 데이터 프레임을 읽어들이고
    # df_list.append 로 리스트에 하나하나 넣기
concat = pd.concat(df_list)
# pd.concat 으로 리스트에 들어있는 데이터 프레임들을 하나로 뭉침
# (지속적으로 row 가 늘어남)
concat.shape

(32513, 11)

In [ ]:
concat.head()

,Time,Temperature,Relative Temperature,Wind,Wind Gust,Rel. humidity,Dew Point,Pressure,Icon,DescriptionDetails,date
0,00:00,13°C,13°C,330°11 Km/h,NaN,77%,9°C,1009.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C...",2018-05-08
1,01:00,13°C,13°C,350°7 Km/h,NaN,77%,9°C,1010.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C...",2018-05-08
2,02:00,14°C,14°C,20°9 Km/h,NaN,72%,9°C,1010.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C...",2018-05-08
3,03:00,15°C,15°C,60°6 Km/h,NaN,68%,9°C,1010.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C...",2018-05-08
4,04:00,16°C,16°C,80°13 Km/h,NaN,59%,8°C,1011.0mb,NaN,"document.write(Icons.GetShortDescription(1, 'C...",2018-05-08

In [ ]:
concat.columns

Index(['Time', 'Temperature', 'Relative Temperature', 'Wind', 'Wind Gust',
       'Rel. humidity', 'Dew Point', 'Pressure', 'Icon', 'DescriptionDetails',
       'date'],
      dtype='object')

In [ ]:
interested = ['date', 'Time', 'Temperature',
              'Wind', 'Rel. humidity', 'Dew Point']
weathers = concat[interested]
weathers

          date   Time Temperature         Wind Rel. humidity Dew Point
0   2018-05-08  00:00        13°C  330°11 Km/h           77%       9°C
1   2018-05-08  01:00        13°C   350°7 Km/h           77%       9°C
2   2018-05-08  02:00        14°C    20°9 Km/h           72%       9°C
3   2018-05-08  03:00        15°C    60°6 Km/h           68%       9°C
4   2018-05-08  04:00        16°C   80°13 Km/h           59%       8°C
..         ...    ...         ...          ...           ...       ...
19  2018-05-07  19:00        20°C   290°7 Km/h           56%      11°C
20  2018-05-07  20:00        19°C   210°7 Km/h           52%       9°C
21  2018-05-07  21:00        18°C   220°6 Km/h           60%      10°C
22  2018-05-07  22:00        16°C         Calm           63%       9°C
23  2018-05-07  23:00        14°C   150°6 Km/h           67%       8°C

[32513 rows x 6 columns]

In [ ]:
weathers['humidity'] = weathers['Rel. humidity'].apply(lambda x : int(x[:-1]))
# % 기호를 슬라이싱으로 제거하고, 남아있는 문자 정보를 숫자로 변환.
weathers.head()

<ipython-input-9-6e05b46f03ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weathers['humidity'] = weathers['Rel. humidity'].apply(lambda x : int(x[:-1]))

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity
0,2018-05-08,00:00,13°C,330°11 Km/h,77%,9°C,77
1,2018-05-08,01:00,13°C,350°7 Km/h,77%,9°C,77
2,2018-05-08,02:00,14°C,20°9 Km/h,72%,9°C,72
3,2018-05-08,03:00,15°C,60°6 Km/h,68%,9°C,68
4,2018-05-08,04:00,16°C,80°13 Km/h,59%,8°C,59

In [ ]:
weathers['temp'] = weathers['Temperature'].apply(lambda x : int(x[:-2]))
weathers['dew_point'] = weathers['Dew Point'].apply(lambda x : int(x[:-2]))
# 온도 기호를 슬라이싱으로 제거하고, 남아있는 문자 정보를 숫자로 변환.
weathers.head()

<ipython-input-10-77e6b4b8ac86>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weathers['temp'] = weathers['Temperature'].apply(lambda x : int(x[:-2]))
<ipython-input-10-77e6b4b8ac86>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weathers['dew_point'] = weathers['Dew Point'].apply(lambda x : int(x[:-2]))

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity,temp,dew_point
0,2018-05-08,00:00,13°C,330°11 Km/h,77%,9°C,77,13,9
1,2018-05-08,01:00,13°C,350°7 Km/h,77%,9°C,77,13,9
2,2018-05-08,02:00,14°C,20°9 Km/h,72%,9°C,72,14,9
3,2018-05-08,03:00,15°C,60°6 Km/h,68%,9°C,68,15,9
4,2018-05-08,04:00,16°C,80°13 Km/h,59%,8°C,59,16,8

In [ ]:
sample_wind = '150°9 Km/h'
sample_wind.split(' ')[0].split('°')[1]
# 150°9 Km/h 는 띄어쓰기 ' ' 기준으로 방향+속도 와 단위가 있다.
# 그래서 띄어쓰기 ' ' 기준으로 문자열을 나누고(split)
# [0]을 이용하여 리스트 인덱싱으로 150°9 만 선택한다.
# 이후, 방향과 속도는 '°' 기호를 기준으로 나뉘어져 있으므로
# 이 기준으로 split 하여 속도를 선택했다.

'9'

In [ ]:
#weathers['Wind'].apply(lambda x : x.split(" ")[0].split('°')[1])
# 위에서, 한 샘플에 대해 처리방식을 구했으므로, apply 와 lambda 이용하여
# 해당 컬럼에 대해 일괄 적용하려 시도.
# 비록 에러가 발생했지만, 잘못된 것에 대해 에러가 발생한 것 덕분에, 잘못되었다는 것을 확인함.
# 뒤늦게 밝혀지면 큰 문제 발생.

In [ ]:
weathers.sort_values(by='Wind')

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity,temp,dew_point
15,2017-08-15,11:00,22°C,100°11 Km/h,83%,19°C,83,22,19
10,2017-09-26,10:00,25°C,100°11 Km/h,61%,17°C,61,25,17
4,2018-09-28,04:00,16°C,100°11 Km/h,52%,6°C,52,16,6
5,2018-09-28,05:00,15°C,100°11 Km/h,59%,7°C,59,15,7
17,2018-11-24,12:00,3°C,100°11 Km/h,75%,-1°C,75,3,-1
...,...,...,...,...,...,...,...,...,...
0,2017-02-01,00:00,-7°C,Calm,58%,-14°C,58,-7,-14
0,2020-09-06,00:00,21°C,Calm,88%,19°C,88,21,19
2,2019-11-03,02:00,10°C,Calm,94%,9°C,94,10,9
8,2017-02-02,08:00,-9°C,Calm,57%,-16°C,57,-9,-16
5,2017-04-21,05:00,5°C,Calm,87%,3°C,87,5,3

In [ ]:
weathers.sort_values(by='Wind').tail()
# 바람이 안 부는 경우, 문자열 'Calm' 으로 표기되어있음을 확인.
# 이 경우, 풍속이 0 이라는 형태로 바꿔준다면,
# 다른 row 들과 데이터의 일관성 확보 가능.

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity,temp,dew_point
0,2017-02-01,00:00,-7°C,Calm,58%,-14°C,58,-7,-14
0,2020-09-06,00:00,21°C,Calm,88%,19°C,88,21,19
2,2019-11-03,02:00,10°C,Calm,94%,9°C,94,10,9
8,2017-02-02,08:00,-9°C,Calm,57%,-16°C,57,-9,-16
5,2017-04-21,05:00,5°C,Calm,87%,3°C,87,5,3

In [ ]:
weathers['Wind'] = weathers['Wind'].apply(lambda x : x.replace('Calm', '000°0 Km/h'))
weathers['windspeed'] = weathers['Wind'].apply(lambda x : int(x.split(' ')[0].split('°')[1]))

<ipython-input-14-60859c464786>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weathers['Wind'] = weathers['Wind'].apply(lambda x : x.replace('Calm', '000°0 Km/h'))
<ipython-input-14-60859c464786>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weathers['windspeed'] = weathers['Wind'].apply(lambda x : int(x.split(' ')[0].split('°')[1]))

In [ ]:
weathers.head()

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity,temp,dew_point,windspeed
0,2018-05-08,00:00,13°C,330°11 Km/h,77%,9°C,77,13,9,11
1,2018-05-08,01:00,13°C,350°7 Km/h,77%,9°C,77,13,9,7
2,2018-05-08,02:00,14°C,20°9 Km/h,72%,9°C,72,14,9,9
3,2018-05-08,03:00,15°C,60°6 Km/h,68%,9°C,68,15,9,6
4,2018-05-08,04:00,16°C,80°13 Km/h,59%,8°C,59,16,8,13

In [ ]:
weathers['datetime'] = weathers['date'] + ' ' + weathers['Time'].apply(lambda x : x[:2]) + ':00:00'
# by_time_merge.csv 파일과 합치고자 하는데, 그 쪽에 있는 데이터와
# 형태를 같게 만들어 주기 위함.
weathers.head()

,date,Time,Temperature,Wind,Rel. humidity,Dew Point,humidity,temp,dew_point,windspeed,datetime
0,2018-05-08,00:00,13°C,330°11 Km/h,77%,9°C,77,13,9,11,2018-05-08 00:00:00
1,2018-05-08,01:00,13°C,350°7 Km/h,77%,9°C,77,13,9,7,2018-05-08 01:00:00
2,2018-05-08,02:00,14°C,20°9 Km/h,72%,9°C,72,14,9,9,2018-05-08 02:00:00
3,2018-05-08,03:00,15°C,60°6 Km/h,68%,9°C,68,15,9,6,2018-05-08 03:00:00
4,2018-05-08,04:00,16°C,80°13 Km/h,59%,8°C,59,16,8,13,2018-05-08 04:00:00

In [ ]:
weathers.columns

Index(['date', 'Time', 'Temperature', 'Wind', 'Rel. humidity', 'Dew Point',
       'humidity', 'temp', 'dew_point', 'windspeed', 'datetime'],
      dtype='object')

In [ ]:
interested = ['humidity', 'temp', 'dew_point', 'windspeed', 'datetime']
weathers[interested].to_csv('all_weathers.csv', index=False)

In [ ]:
weather = pd.read_csv(path + '/' + 'all_weathers.csv')
demand = pd.read_csv(path + '/' + 'by_time_merge.csv')
df = pd.merge(demand, weather, how='inner')  # 공통 내용 기준
df

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7
...,...,...,...,...,...,...,...,...
32098,2017-03-17 05:00:00,0.0,1.0,0.0,80,-2,-5,4
32099,2017-03-17 09:00:00,0.0,2.0,0.0,66,6,0,2
32100,2017-07-05 18:00:00,0.0,3.0,0.0,55,30,20,13
32101,2017-07-05 20:00:00,0.0,1.0,0.0,66,27,20,7
32102,2017-07-06 11:00:00,0.0,2.0,0.0,52,31,20,9

In [ ]:
df.to_csv('seoul_demand.csv', index=False)

##### seoul_demand 로부터 이어서 진행.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Study/Jupyter'
df = pd.read_csv(path + '/' + 'seoul_demand.csv')
print(df.shape)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(32103, 8)

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7

### 데이터 분석 방법론 적용
##### CRISP-DM
* 비지니스 이해
* 데이터 이해
* 데이터 탐색
* 데이터 준비
* 모델 기획 / 수립 -> 수업은 여기까지, 이후 단계는 개인적으로...

##### 데이터 이해하기
* 데이터가 어떤 형태 / 어떤 정보가 있는지(가용 데이터) 파악
* 시간 성분이 있다면, 조밀도(granularity)를 파악  

    * 조밀도 : 시간 성분에 국한된 개념은 아니지만, 대표적인 사례.  
        1. 조밀도(ex. 시간별, 일별, 월별)가 다르면 데이터를 처리하기 어려워짐.  
        
        2. 작은 단위에서 큰 단위로 합치는 것은 가능하지만, 반대의 경우는 불가능.  
         -> 아무렇게 데이터를 내삽(interpolation)하면 안 됨(ex. 분기별 GDP 성장률 -> 일별??).  
         
        3. 시간 성분외에도 포함 관계가 존재하는 변수는 주의해야 함(ex. 시도 -> 구).  
    
* 비지니스 이해 단계에서 가고자 하는 방향성과 가용 데이터가 부합하나?
* precipitation -> 강수량 / 강수확률, 현 데이터엔 없지만 유효한 정보.

In [ ]:
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7

### 파생변수 생성 -> 날씨가 사람에 직접 영향을 미치는 것.
* 바람의 세기가 사람의 행동에 제약을 주거나 영향을 주는 것.
* 날씨가 사람의 기분에 미치는 영향을 반영.
* 날씨가 사람의 건강에 주는 영향을 반영.

### 바람이 사람의 행동에 영향을 주는 것 반영
##### 보퍼트 풍력 계급 적용
* 바람이 사람의 행동에 영향을 미치기 시작하는 지점 파악.
* 5단계 정도부터 자전거 이용에 영향을 준다고 가정.

In [ ]:
df.sort_values(by='windspeed', ascending=False).head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed
3015,2017-05-13 14:00:00,119.0,54.0,4.0,53,20,10,48
3014,2017-05-13 14:00:00,119.0,54.0,4.0,44,22,9,48
3013,2017-05-13 14:00:00,119.0,54.0,4.0,41,23,9,48
23967,2020-03-19 15:00:00,617.0,134.0,3.0,47,10,-1,48
32012,2021-01-28 13:00:00,716.0,79.0,2.0,51,1,-8,46

In [ ]:
df['windforce'] = 0  # 기본값 0 채워넣기
df.loc[df['windspeed'] >= 29, 'windforce'] = 1
df.loc[df['windspeed'] >= 39, 'windforce'] = 2
# 바람의 힘이 사람에 영향을 주는 정도를 windforce 컬럼으로 반영.

### 날씨가 사람의 기분에 영향을 주는 것 반영
##### 불쾌지수(Humidex) 적용
* 온도와 이슬점을 이용하여 땀이 증발하는 정도를 나타냄.
* 땀이 증발하는 속도로 날씨가 기분에 미치는 영향 반영.

In [ ]:
T = 40
Td = 20
exp = 2.71828
upper = 5417.753 * ((1 / 273.16) - (1 / (273.15 + Td))) # 공식 대입
exp = 6.11 * (exp ** upper) # 식 간단히
humidex = T + (5 / 9 * (exp - 10)) # 최종 식
humidex

47.57052263851177

In [ ]:
def humidex_cal(T, Td):
    exp = 2.71828
    upper = 5417.753 * ((1 / 273.16) - (1 / (273.15 + Td)))
    exp = 6.11 * (exp ** upper)
    humidex = T + (5 / 9 * (exp - 10))
    return humidex

In [ ]:
df['humidex'] = humidex_cal(df['temp'], df['dew_point'])

In [ ]:
df['discomfort'] = 0
df.loc[df['humidex'] >= 30, 'discomfort'] = 1
df.loc[df['humidex'] >= 40, 'discomfort'] = 2
df.loc[df['humidex'] >= 46, 'discomfort'] = 3
# 나누는 기준은, 레퍼런스에서 30 -> 40 -> 46 이었기 때문.
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0

### 날씨가 사람의 건강에 미치는 영향
##### 여름엔 열사병 위험, 겨울엔 동상의 위험
##### heat index(열지수), windchill(겨울 체감온도)
* 열지수가 높으면 열사병 걸릴 확률 증가 -> 외부활동 저하 요인
* 겨울 체감온도는 동상 확률과 연관 -> 자전거 이용시 손을 내놓기 때문.

##### 열지수(Heat Index)

In [ ]:
T = 42
R = 40
c1 = -8.78469475556
c2 = 1.61139411
c3 = 2.33854883889
c4 = -0.14611605
c5 = -0.012308094
c6 = -0.0164248277778
c7 = 0.002211732
c8 = 0.00072546
c9 = -0.000003582
TR = T * R
T2 = T * T
R2 = R * R
T2R = T2 * R
TR2 = R2 * T
T2R2 = T2 * R2
part_1 = c1 + (c2 * T) + (c3 * R) + (c4 * TR) + (c5 * T2)
part_2 = (c6 * R2) + (c7 * T2R) + (c8 * TR2) + (c9 * T2R2)
heat_index = part_1 + part_2
heat_index

53.670530279560026

In [ ]:
def heat_index_cal(T, R):
    c1 = -8.78469475556
    c2 = 1.61139411
    c3 = 2.33854883889
    c4 = -0.14611605
    c5 = -0.012308094
    c6 = -0.0164248277778
    c7 = 0.002211732
    c8 = 0.00072546
    c9 = -0.000003582
    TR = T * R
    T2 = T * T
    R2 = R * R
    T2R = T2 * R
    TR2 = R2 * T
    T2R2 = T2 * R2
    part_1 = c1 + (c2 * T) + (c3 * R) + (c4 * TR) + (c5 * T2)
    part_2 = (c6 * R2) + (c7 * T2R) + (c8 * TR2) + (c9 * T2R2)
    heat_index = part_1 + part_2
    return heat_index

In [ ]:
df['heat_index'] = heat_index_cal(df['temp'], df['humidity'])
# 영하의 온도에서는 열사병 위험 X,
# 따라서 열지수는 도표상 27도 이상일 때만 유효.
# 온도가 27도 미만일 경우, 열지수 값을 0으로 보정하여 수식상 오류 수정.
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0,79.616832
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0,84.617029
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0,91.196992
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0,90.760503
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0,90.760503

In [ ]:
df.loc[df['temp'] < 27, 'heat_index'] = 20 # df 에 대해 조건을 설정하는 것이므로 df['heat_index'] 대신 사용 가능. 
# 27도 이하일 경우, heat_index 값을 일괄적으로 낮춰서 반영(20 정도)
# 열지수 공식 자체가 27도 이상일 경우에 의미를 갖기 때문에, 정확한 열지수 값은 모르지만,
# 이후에 일괄적으로 열사병 컬럼을 생성할 때, 데이터의 의미가 왜곡되는 것 방지.
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0,20.0
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0,20.0
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0,20.0
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0,20.0
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0,20.0

In [ ]:
# 27 미만 -> 위험 X
# 27 ~ 32 -> 주의
# 33 ~ 39 -> 매우 주의
# 40 ~ 52 -> 위험
# 53 이상 -> 매우 위험
df['heat_stroke'] = 0
df.loc[df['heat_index'] >= 27, 'heat_stroke'] = 1
df.loc[df['heat_index'] >= 33, 'heat_stroke'] = 2
df.loc[df['heat_index'] >= 40, 'heat_stroke'] = 3
df.loc[df['heat_index'] >= 53, 'heat_stroke'] = 4
# 나누는 기준은, 레퍼런스 참조.
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index,heat_stroke
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0,20.0,0
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0,20.0,0
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0,20.0,0
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0,20.0,0
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0,20.0,0

* Ta 가 온도, v 가 풍속.

In [ ]:
# 도메인의 특수성(걷는 것이 아니라 자전거를 타는 것이므로, 체감 풍속은 바뀐다)에 의해,
# 위의 공식은 개조의 여지가 있다.
# 결론적으로, 여기서 하고 싶은 말은,
# 정확하게 측정된 데이터라고 할지라도, 데이터 자체가 변할 수 있는지 신중하게 고려해야 한다.
# 생각을 하는 것과 안 하는 것의 차이가 분명히 발생할 수 있다.

In [ ]:
T = -20
v = 14
c1 = 13.12
c2 = 0.6215
c3 = -11.37
c4 = 0.3965
c5 = 0.16
vv = v ** c5
windchill = c1 + (c2 * T) + (c3 * vv) + (c4 * T * vv)
windchill

-28.749999257776565

In [ ]:
def windchill_cal(T, v):
    c1 = 13.12
    c2 = 0.6215
    c3 = -11.37
    c4 = 0.3965
    c5 = 0.16
    v = v + 20  # 자전거라는 도메인을 반영하여, 시속 20km/h 수준으로 달린다 가정.
    vv = v ** c5
    windchill = c1 + (c2 * T) + (c3 * vv) + (c4 * T * vv)
    return windchill

In [ ]:
df['windchill'] = windchill_cal(df['temp'], df['windspeed'])
df.sort_values(by='windchill')

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index,heat_stroke,windchill
31513,2021-01-08 07:00:00,318.0,9.0,0.0,45,-18,-27,15,0,-23.170435,0,20.000000,0,-30.754892
31512,2021-01-08 06:00:00,108.0,5.0,0.0,50,-18,-26,15,0,-23.134565,0,20.000000,0,-30.754892
31510,2021-01-08 04:00:00,45.0,3.0,0.0,50,-18,-26,13,0,-23.134565,0,20.000000,0,-30.448596
31509,2021-01-08 03:00:00,49.0,4.0,0.0,46,-17,-26,22,0,-22.134565,0,20.000000,0,-30.379943
31514,2021-01-08 08:00:00,618.0,37.0,0.0,45,-18,-27,9,0,-23.170435,0,20.000000,0,-29.786016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12609,2018-08-01 17:00:00,958.0,75.0,0.0,53,36,25,15,0,48.339624,3,44.531250,3,40.623175
12365,2018-07-22 17:00:00,799.0,159.0,7.0,39,36,20,15,0,43.570523,2,38.800685,2,40.623175
12606,2018-08-01 14:00:00,442.0,33.0,0.0,44,37,23,11,0,47.272991,3,42.906224,3,41.832887
12607,2018-08-01 15:00:00,470.0,60.0,1.0,47,37,24,11,0,48.278092,3,44.291739,3,41.832887
12608,2018-08-01 16:00:00,524.0,36.0,1.0,44,37,23,17,0,47.272991,3,42.906224,3,41.997053

In [ ]:
df['frost_bite'] = 0
df.loc[df['windchill'] < -25, 'frost_bite'] = 1
df.loc[df['windchill'] > -25, 'frost_bite'] = 0
df.loc[df['temp'] > 10, 'frost_bite'] = 0
# 겨울 체감온도는 온도가 높을 경우 정의가 되지 않기 때문에,
# 온도가 10도 초과인 경우, frost_bite 에 0 으로 반영.
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index,heat_stroke,windchill,frost_bite
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0,20.0,0,-7.668021,0
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0,20.0,0,-8.969079,0
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0,20.0,0,-10.025428,0
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0,20.0,0,-9.628138,0
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0,20.0,0,-10.025428,0

In [ ]:
date_sample = '2017-01-01 00:00:00'
parsed = pd.to_datetime(date_sample)
# to_datetime 으로 문자열을 날짜로 해석.
parsed.dayofweek
# 0 부터 6 까지를 월요일부터 일요일까지로 표현.

6

In [ ]:
parsed = df['datetime'].apply(lambda x : pd.to_datetime(x))
df['year'] = parsed.apply(lambda x : x.year)
df['month'] = parsed.apply(lambda x : x.month)
df['day'] = parsed.apply(lambda x : x.day)
df['hour'] = parsed.apply(lambda x : x.hour)
df['dayofweek'] = parsed.apply(lambda x : x.dayofweek)
df.head()

,datetime,regular,casual,group,humidity,temp,dew_point,windspeed,windforce,humidex,discomfort,heat_index,heat_stroke,windchill,frost_bite,year,month,day,hour,dayofweek
0,2017-01-01 00:00:00,63.0,13.0,1.0,75,-1,-5,9,0,-4.212215,0,20.0,0,-7.668021,0,2017,1,1,0,6
1,2017-01-01 01:00:00,55.0,21.0,0.0,80,-2,-5,9,0,-5.212215,0,20.0,0,-8.969079,0,2017,1,1,1,6
2,2017-01-01 02:00:00,38.0,19.0,0.0,74,-3,-7,7,0,-6.542302,0,20.0,0,-10.025428,0,2017,1,1,2,6
3,2017-01-01 03:00:00,22.0,12.0,0.0,80,-3,-6,4,0,-6.382903,0,20.0,0,-9.628138,0,2017,1,1,3,6
4,2017-01-01 04:00:00,16.0,7.0,0.0,80,-3,-6,7,0,-6.382903,0,20.0,0,-10.025428,0,2017,1,1,4,6

In [ ]:
df.columns

Index(['datetime', 'regular', 'casual', 'group', 'humidity', 'temp',
       'dew_point', 'windspeed', 'windforce', 'humidex', 'discomfort',
       'heat_index', 'heat_stroke', 'windchill', 'frost_bite', 'year', 'month',
       'day', 'hour', 'dayofweek'],
      dtype='object')

In [ ]:
interested = ['year', 'month', 'day', 'hour', 'dayofweek',
              'discomfort', 'heat_stroke', 'frost_bite', 'windforce',
              'regular', 'casual', 'group']
df[interested].to_csv('clean_data.csv', index=False)